@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");

body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  font-family: "Montserrat", sans-serif;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.5em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}


